<div class="services">
  <div class="container spacev-md">

    <div class="overlay-1 spaceb-lg">
      <p class="display-3 text-center spaceh-sm heading-font">Our Services</p>

    </div>
    <div class="row">


      <div class="image col-lg-3 col-sm-6 spaceb-md">
        <img class="image_img" src="/assets/images/background/Technological support.png">
        
        <div class="image_overlay spaceb-md text-center">
          <div class="image_title">
            <p class="mt-5 display-6">Technologies</p></div>
          <button class="btn bg-gradient-secondary w-auto me-2" data-bs-toggle="collapse" href="#services-1" role="button" aria-expanded="false">
            Learn More
          </button>
        </div>
      </div>


      <div class="image col-lg-3 col-sm-6 spaceb-md">
        <img class="image_img" src="/assets/images/background/Consultancy .jpg">
        
        <div class="image_overlay spaceb-md text-center">
          <div class="image_title">
            <p class="mt-5 display-6">Trading</p></div>
          <button class="btn bg-gradient-secondary w-auto me-2" data-bs-toggle="collapse" href="#services-2" role="button" aria-expanded="false">
            Learn More
          </button>
        </div>

      </div>


      <div class="image col-lg-3 col-sm-6 spaceb-md">
        <img class="image_img" src="/assets/images/background/Production House.jpg">
        <div class="image_overlay spaceb-md text-center">
          <div class="image_title">
            <p class="mt-5 display-6">Event Solution</p></div>
          <button class="btn bg-gradient-secondary w-auto me-2" data-bs-toggle="collapse" href="#services-3" role="button" aria-expanded="false">
            Learn More
          </button>
        </div>

      </div>


      <div class="image col-lg-3 col-sm-6 spaceb-md">
        <img class="image_img" src="/assets/images/background/Emport export.jpg">
        <div class="image_overlay spaceb-md text-center">
          <div class="image_title">
            <p class="mt-5 display-6">EXIM</p></div>
          <button class="btn bg-gradient-secondary w-auto me-2" data-bs-toggle="collapse" href="#services-4" role="button" aria-expanded="false">
            Learn More
          </button>
        </div>

      </div>

      <div class="detail-department collapse multi-collapse mt-4" id="services-1">
        <p><strong>Technologies</strong> provide website solutions, mobile app solutions, ERP solutions, cloud infrastructure, large, scale lab setup, software, E-commerce solutions, maintenance and inspired by our clients and work to advance their business by innovating everything digital. We’re endless innovators, constantly looking for new ways to connect the dots and connect people.Moreover, We become part of your team, true partners with a sustained commitment to your business goals.
        </p>
      </div>

      <div class="detail-department collapse multi-collapse mt-4" id="services-2">
        <p> <strong>Trading</strong> is an integrated construction group with core expertise in import and supply construction Materials, providing trading services between government entities and private organizations, indoor and outdoor beautification, import and supply office equipment. Being bold and innovative characterizes our approach and doing what matters defines our intent. Canvas trading has been entrusted with many projects of public, cultural, and social significance. As we expand our experience and our footprint, we aspire to continue creating places people want and care about.
        </p>
      </div>

      <div class="detail-department collapse multi-collapse mt-4" id="services-3">
        <p><strong> Event Solution and Marketing Agency </strong> is based in Bangladesh. Innovation, excellence, and professionalism shape everything we do. We provide Documentary TVC, OVC, Film, Short Film, Stop Motion, Animation, Drama, Corporate Photography, Product Photography, Print, and Publication. In addition to our planning capabilities, we have strong supporting resources that partner with us to meet our client’s overall project/event goals.We take care of all necessary arrangements to complete your program, project, or event. All accommodations are coordinated seamlessly. We want to ensure that our service is an integral part of our client’s overall success.
        </p>
      </div>

      <div class="detail-department collapse multi-collapse mt-4" id="services-4">
        <p> Through <strong>EXIM,</strong> our main goal is to provide quality products in the market. Our main focus is on agro products, all types of overseas fish and fruits. We are new channels of business with processors, re-processors, distributors, and retail chains. Currently, and in a short time, Canvas Exim is able to get the best reputation in the Field of agro products and overseas fish and has become one of the leading wholesale suppliers in the region.
        </p>
      </div>

  </div>
</div>
