<section class="">
  <div class="page-header">
    <div class="page-header min-vw-100 min-vh-100" style='background-image: url("../assets/img/office-dark.jpeg"); background-position-y: 50%;'>
      <span class="mask bg-gradient-info opacity-8"></span>
    <div class="container">
      <div class="text-center spaceb-sm spacet-sm">
        <p class="display-3 text-white">Technologies</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
  
          <div class="d-flex justify-content-center">
            <app-social-media-icon></app-social-media-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<waves-element></waves-element>


<tech-services-content></tech-services-content>


<app-copyright></app-copyright>
