<header class="spaceb-lg">
  <div class="text-center spaceb-md spacet-xxmd">
    <p class="display-4 text-gradient text-primary">OUR SERVICES</p>
    <p class="container">We build software development teams that grow with our clients, from the early stages to whatever they aspire to be. Our expertise includes front-end, backend, database, and server solutions for mobile, web, and desktop applications. Our purpose is to provide our clients with expert guidance and to build software vital to their organizations.</p>
  </div>

  <div class="container spacet-sm">
      <div class="row spaceb-lg">
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-a]"></ng-content>
        </div>
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-b]"></ng-content>
        </div>
      </div>

      <div class="row spaceb-lg">
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-c]"></ng-content>
        </div>
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-d]"></ng-content>
        </div>
      </div>

      <div class="row spaceb-lg">
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-e]"></ng-content>
        </div>
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-f]"></ng-content>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-g]"></ng-content>
        </div>
        <div class="col-lg-6 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontent-event-h]"></ng-content>
        </div>
      </div>

  </div>
</header>
