<section class="py-sm-7 py-5">

  <div class="container spaceb-xmd spacet-xmd">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-4 text-gradient text-primary">Job openings</p>
        <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
        <h5>Data Analyst</h5>
        <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
        <button class="btn bg-gradient-info btn-sm text-dark" data-bs-toggle="collapse" href="#services-1" role="button" aria-expanded="false">Apply here</button>

        <div class="detail-department collapse multi-collapse mt-4" id="services-1">
          <p class="lead text-primary text-bolder">Data Analyst</p>
          <p>Canvas Technologies</p>
          <hr>
          <p class="lead text-primary">Qualifications & Requirements</p>
          <p class="lead text-primary">Salary</p>
          <p class="lead text-primary">Application Instructions</p>
          <p>If you meet the above requirements, please send us your updated resume to the following email address:</p>
          <p class="text-danger" >info@canvasbdltd.com</p>
          <p>Please write in the subject “Application for Data Analys”.</p>
          <p>Only short listed candidates will be called for interview.</p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
        <h5>Product Designer</h5>
        <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
        <button class="btn bg-gradient-info btn-sm text-dark" data-bs-toggle="collapse" href="#services-2" role="button" aria-expanded="false">Apply here</button>

        <div class="detail-department collapse multi-collapse mt-4" id="services-2">
          <p class="lead text-primary text-bolder">Product Designer</p>
          <p>Canvas Technologies</p>
          <hr>
          <p class="lead text-primary">Qualifications & Requirements</p>
          <p class="lead text-primary">Salary</p>
          <p class="lead text-primary">Application Instructions</p>
          <p>If you meet the above requirements, please send us your updated resume to the following email address:</p>
          <p class="text-danger" >info@canvasbdltd.com</p>
          <p>Please write in the subject “Application for Product Designer”.</p>
          <p>Only short listed candidates will be called for interview.</p>
        </div>

      </div>

      <div class="col-sm-6 col-lg-4 mt-lg-0 mt-4">
        <h5>E-commerce Developer</h5>
        <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
        <button class="btn bg-gradient-info btn-sm text-dark" data-bs-toggle="collapse" href="#services-3" role="button" aria-expanded="false">Apply here</button>

        <div class="detail-department collapse multi-collapse mt-4" id="services-3">
          <p class="lead text-primary text-bolder">E-commerce Developer</p>
          <p>Canvas Technologies</p>
          <hr>
          <p class="lead text-primary">Qualifications & Requirements</p>
          <p class="lead text-primary">Salary</p>
          <p class="lead text-primary">Application Instructions</p>
          <p>If you meet the above requirements, please send us your updated resume to the following email address:</p>
          <p class="text-danger" >info@canvasbdltd.com</p>
          <p>Please write in the subject “Application for E-commerce Developer”.</p>
          <p>Only short listed candidates will be called for interview.</p>
        </div>

      </div>

      <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
        <h5>Digital Product Design</h5>
        <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
        <button class="btn bg-gradient-info btn-sm text-dark" data-bs-toggle="collapse" href="#services-4" role="button" aria-expanded="false">Apply here</button>

        <div class="detail-department collapse multi-collapse mt-4" id="services-4">
          <p class="lead text-primary text-bolder">Digital Product Design</p>
          <p>Canvas Technologies</p>
          <hr>
          <p class="lead text-primary">Qualifications & Requirements</p>
          <p class="lead text-primary">Salary</p>
          <p class="lead text-primary">Application Instructions</p>
          <p>If you meet the above requirements, please send us your updated resume to the following email address:</p>
          <p class="text-danger" >info@canvasbdltd.com</p>
          <p>Please write in the subject “Application for Digital Product Design”.</p>
          <p>Only short listed candidates will be called for interview.</p>
        </div>

      </div>

      <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
        <h5>Communication Agent</h5>
        <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
        <button class="btn bg-gradient-info btn-sm text-dark" data-bs-toggle="collapse" href="#services-5" role="button" aria-expanded="false">Apply here</button>

        <div class="detail-department collapse multi-collapse mt-4" id="services-5">
          <p class="lead text-primary text-bolder">Communication Agent</p>
          <p>Canvas Technologies</p>
          <hr>
          <p class="lead text-primary">Qualifications & Requirements</p>
          <p class="lead text-primary">Salary</p>
          <p class="lead text-primary">Application Instructions</p>
          <p>If you meet the above requirements, please send us your updated resume to the following email address:</p>
          <p class="text-danger" >info@canvasbdltd.com</p>
          <p>Please write in the subject “Application for Communication Agent”.</p>
          <p>Only short listed candidates will be called for interview.</p>
        </div>

      </div>

      <div class="col-sm-6 col-lg-4 mt-lg-5 mt-4">
        <h5>Logo Designer</h5>
        <p class="text-sm">Check out our proven methods, guides, and exercises that help make work better, and people happier.</p>
        <button class="btn bg-gradient-info btn-sm text-dark" data-bs-toggle="collapse" href="#services-6" role="button" aria-expanded="false">Apply here</button>

        <div class="detail-department collapse multi-collapse mt-4" id="services-6">
          <p class="lead text-primary text-bolder">Logo Designer</p>
          <p>Canvas Technologies</p>
          <hr>
          <p class="lead text-primary">Qualifications & Requirements</p>
          <p class="lead text-primary">Salary</p>
          <p class="lead text-primary">Application Instructions</p>
          <p>If you meet the above requirements, please send us your updated resume to the following email address:</p>
          <p class="text-danger" >info@canvasbdltd.com</p>
          <p>Please write in the subject “Application for Logo Designer”.</p>
          <p>Only short listed candidates will be called for interview.</p>
        </div>

      </div>

    </div>
  </div>

</section>
