
<section class="introductiont1">
  <div class="overlay1 spacet-lg">
    <div class="container spacet-sm">
      <div class="services text-center spaceb-md">
        <p class="display-3 spaceb-lg"> Our Services </p>
        <div class="team-fluid p-5">


          <div class="row align-items-start p-5">

            <div class="image col-lg-4 col-lg-4 spaceb-md">
              <img class="image_img" height="230" src="/assets/images/IT/IT_Software development.jpg">
                    <div class="image_title_hearer"><p>Software Development</p></div>
                    <div class="image_overlay spaceb-md">
                      <div class="image_title">
                        <!-- <p class="lead-paragraph-large mt-4">Software Development</p> -->
                      </div>
                      <div class="text lead-paragraph-dark mt-5">
                        <p>System Software Development</p>
                        <p>Desktop Software</p>
                        <p>Mobile Software</p>
                        <p>Web-Based Software</p>
                        <p>Software Competency Training</p>
                      </div>
                    </div>
                </div>


                <div class="image col-lg-4 col-lg-4 spaceb-md">
                  <img class="image_img" height="230" src="/assets/images/IT/IT_web development.jpg">
                        <div class="image_title_hearer"><p>Web Development</p></div>
                        <div class="image_overlay spaceb-md">
                          <div class="image_title">
                            <!-- <p class="lead-paragraph-large">Web Development</p> -->
                          </div>
                          <div class="text lead-paragraph-dark mt-5">
                            <p>Static Website</p>
                            <p>Dynamic Website</p>
                            <p>Website Deployment</p>
                            <p>OAuth2.0 Security</p>
                          </div>
                        </div>
                    </div>


                    <div class="image col-lg-4 col-lg-4 spaceb-md">
                      <img class="image_img" height="230" src="/assets/images/IT/IT_mobile app development.jpg">
                            <div class="image_title_hearer"><p>Mobile Application Development</p></div>
                            <div class="image_overlay spaceb-md">
                              <div class="image_title">
                                <!-- <p class="lead-paragraph-large">Mobile Application Development</p> -->
                              </div>
                              <div class="text lead-paragraph-dark mt-5">
                                <p>Android App</p>
                                <p>iOS App</p>
                                <p>Windows Phone App</p>
                                <p>E-commerce Mobile App</p>
                                <p>Custom Business Mobile App</p>
                              </div>
                            </div>
                        </div>


                        <div class="image col-lg-4 col-lg-4 spaceb-md">
                          <img class="image_img" height="230" src="/assets/images/IT/IT_Game developer_2.jpeg">
                                <div class="image_title_hearer"><p>Game Development</p></div>
                                <div class="image_overlay spaceb-md">
                                  <div class="image_title">
                                    <!-- <p class="lead-paragraph-large">Game Development</p> -->
                                  </div>
                                  <div class="text lead-paragraph-dark mt-5">
                                    <p>Mobile, Web, Desktop Game</p>
                                    <p>Cross-platform Game</p>
                                    <p>App Deployment</p>
                                    <p>2D, 3D Art and Animation</p>
                                  </div>
                                </div>
                            </div>

                            <div class="image col-lg-4 col-lg-4 spaceb-md">
                              <img class="image_img" height="230" src="/assets/images/IT/IT_Ai.jpg">
                                    <div class="image_title_hearer"><p>AI & Block Chain</p></div>
                                    <div class="image_overlay spaceb-md">
                                      <div class="image_title">
                                        <!-- <p class="lead-paragraph-large">AI & Block Chain</p> -->
                                      </div>
                                      <div class="text lead-paragraph-dark mt-5">
                                        <p>Visual Recognition</p>
                                        <p>Audio Recognition</p>
                                        <p>Chat-bot</p>
                                        <p>Block Chain System Development</p>
                                      </div>
                                    </div>
                                </div>


                                <div class="image col-lg-4 col-lg-4 spaceb-md">
                                  <img class="image_img" height="230" src="/assets/images/IT/IT_Cloud.jpg">
                                        <div class="image_title_hearer"><p>Cloud System Development</p></div>
                                        <div class="image_overlay spaceb-md">
                                          <div class="image_title">
                                            <!-- <p class="lead-paragraph-large">Cloud System Development</p> -->
                                          </div>
                                          <div class="text lead-paragraph-dark mt-5">
                                            <p>DevOps strategy elaboration</p>
                                            <p>DevOps transformation implementation</p>
                                            <p>Support operations management</p>
                                            <p>Service desk operations set up</p>
                                          </div>
                                        </div>
                                    </div>
                                 </div>

      </div>
      </div>
    </div>
  </div>
</section>







