<!--About Department-->
<section class="introductiont1">
  <div class="overlay1 spacet-lg">
    <div class="container spacet-sm">
      <div class="services-card text-center spaceb-md">
        <p class="display-4 text-gradient text-primary">OUR SERVICES</p>
        <div class="team-fluid p-5">


          <div class="row justify-content-start">
              <div class="col-md-3 col-sm-5 spaceb-lg" style="margin-right: 150px;">
                  <div class="image">
                      <img class="image_img" src="/assets/images/veg.jpg">
                  </div>
              </div>


              <div class="col-md-3 col-sm-5 spaceb-lg" style="margin-right: 150px;">
                  <div class="image">
                      <img class="image_img" src="/assets/images/fish.jpg">
                  </div>
              </div>


              <div class="col-md-3 col-sm-5 spaceb-lg">
                  <div class="image">
                      <img class="image_img" src="/assets/images/fruit.jpg">
                    </div>
              </div>
          </div>
          <div>
              <p class="display-6">Our Export/Import Products</p>
              <br>
              <p class="lead">
                  Agro Products</p>
              <p class="lead">
                  All Types of Fish in the overseas Market</p>
              <p class="lead">
                  Fruits</p>
              <p class="mt-5 lead">
                  New channels of business with processors, re-processors, distributors and retail chain</p>
          </div>
      </div>
      </div>
    </div>
  </div>
</section>
