<div class="row container-portfolio spaceb-lg">

  <div class="box col-sm-4 mb-4">
    <div class="content" type="button">
      <img class="img-fluid card-img-top" src="/assets/images/background/Emport export.jpg"/>
        <div class="team-caption text-center">
          <h2 class="">projects Name</h2>
          <h3 class="">Projects Type</h3>
        </div>
    </div>
  </div>

  <div class="box col-sm-4 mb-4">
    <div class="content" type="button">
      <img class="img-fluid card-img-top bg-centered bg-cover" src="/assets/images/background/Emport export.jpg"/>
        <div class="team-caption text-center">
          <h2 class="">projects Name</h2>
          <h3 class="">Projects Type</h3>
        </div>
    </div>
  </div>

  <div class="box col-sm-4 mb-4">
    <div class="content" type="button">
      <img class="img-fluid card-img-top" src="/assets/images/background/Emport export.jpg"/>
      <div class="team-caption text-center">
        <h2 class="">projects Name</h2>
        <h3 class="">Projects Type</h3>
      </div>
    </div>
  </div>

  <div class="box col-sm-4 mb-4">
    <div class="content" type="button">
      <img class="img-fluid card-img-top" src="/assets/images/background/Emport export.jpg"/>
        <div class="team-caption text-center">
          <h2 class="">projects Name</h2>
          <h3 class="">Projects Type</h3>
        </div>
    </div>
  </div>

</div>
