<header class="spaceb-lg">
  <div class="text-center spaceb-md spacet-md">
    <p class="display-3 text-gradient text-primary">Welcome to Sample Web Design - 1</p>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-lg-7 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontentA]"></ng-content>
        </div>
        <div class="col-lg-5 col-sm-6 justify-content-center flex-column">
          <ng-content select="[maincontentB]"></ng-content>
        </div>
      </div>
  </div>
</header>
