<div class="card d-flex blur justify-content-center p-4 shadow-lg my-sm-0 my-sm-6 mt-8 mb-5">
  <div class="text-center">
    <h3 class="text-gradient text-primary">Contact us</h3>

  </div>
  <form id="contact-form" method="post" autocomplete="off">
    <div class="card-body pb-2">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-1">Full Name</p>
          <div class="input-group mb-4">
            <input class="form-control" placeholder="write your name here..." aria-label="Full Name" type="text">
          </div>
        </div>
        <div class="col-md-6 ps-md-2">
          <p class="mb-1">Email or Contact Number</p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="email or phone number">
          </div>
        </div>
      </div>
      <div class="form-group mb-0 mt-md-0 mt-4">
        <p class="mb-1">How can we help you?</p>
        <textarea name="message" class="form-control" id="message" rows="6" placeholder="Describe your problem here..."></textarea>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="submit" class="btn bg-gradient-primary mt-3 mb-0">Send Message</button>
        </div>
      </div>
    </div>
  </form>

</div>
