<section class="">
  <div class="page-header">
    <div class="page-header min-vw-100 min-vh-100" style='background-image: url("../assets/img/office-dark.jpeg"); background-position-y: 50%;'>
      <span class="mask bg-gradient-info opacity-8"></span>
    <div class="container">
      <div class="text-center spaceb-sm spacet-sm">
        <p class="display-3 text-white">Sample Web Design - 1</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
  
          <div class="d-flex justify-content-center">
            <app-social-media-icon></app-social-media-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<waves-element></waves-element>




<app-home-department></app-home-department>





<section class="">
  <div class="">
    <div class="">

      <header-type-c></header-type-c>


    </div>
    <div class="text-center mb-5">
      <button type="button" class="btn bg-gradient-dark mt-4 btn-lg">View More
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
          <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
        </svg>
      </button>
    </div>

  </div>
</section>



<header-type-a image="/assets/img/curved-images/curved11.jpg">
  <ng-container maincontent>
          <h1 class="text-gradient text-primary">Welcome to web design</h1>
          <h2 class="mb-4">We Are</h2>
          <p class="lead pe-5 me-5">Bangladesh’s leading business media
            brand, with an editorial focus on innovation. Customers demand is
            our first priority. We can provide you with technological support,
            office equipment supplies, construction material supply, interior
            designing, import export, event management and production
            house. We will assure that you will get top notch services from us</p>
          <div class="buttons">
            <button type="button" class="btn bg-gradient-primary mt-4">Work With Us</button>
            <button type="button" class="btn text-primary shadow-none mt-4">Some of our past works
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </button>
          </div>
  </ng-container>

</header-type-a>



<header-type-d></header-type-d>

<header-type-g></header-type-g>

<footer-a></footer-a>

