<!-- -------- START PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
<section class="py-7 mt-1 spaceb-md">
  <div class="container-fluid px-0 bg-primary-soft">
    <div class="row justify-content-center text-center">
      <div class="col-12 position-relative">
        <div class="row bg-primary-soft bottom-0 py-7">
          <div class="col-lg-6 text-start mx-auto my-5">
            <div class="py-4 px-5 border-radius-2xl">
            <!-- <h4>Be the first to see the news</h4>
            <p class="mb-3">
              Your company may not be in the software business,
              but eventually, a software company will be in your business.
            </p> -->
            <!-- <app-contact-us></app-contact-us> -->
            <contact-us-a></contact-us-a>
          </div>
          </div>

          <div class="col-lg-4 position-relative">
            <img class="w-80 border-radius-section border-top-end-radius-0 border-bottom-end-radius-0 end-0 position-absolute max-width-300 mt-n10 d-xl-block d-none h-100" src="/assets/images/background/mobile-contact-2.png" alt="image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------- END PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->

