<p class="text-center">Corporations</p>
        <ul class="flex-column ms-n3 nav">
          <li class="nav-item text-center">
            <a class="nav-link text-secondary">
              Canvas Event Solution
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link text-secondary">
              Canvas Exim
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link text-secondary">
              Canvas Technologies
            </a>
          </li>

          <li class="nav-item text-center">
            <a class="nav-link text-secondary">
              Canvas Trading Corporation
            </a>
          </li>
        </ul>


          <div class="col-sm-8 mt-5">
            <div class="input-group text-center">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              <input class="form-control" placeholder="Your Email..." type="text">
            </div>
          </div>
          <div class="col-sm-4 mt-2 text-center">
            <button type="button" class="btn bg-gradient-primary w-100">Subscribe</button>
          </div>
